<!DOCTYPE html>
<head>
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body class="container">

    @if(ViewBag.Error != null)
    {
        <div class="alert alert-danger">@ViewBag.Error</div>
    }

    <form action='/user/login' method="post">
        <div>
            <label>E-mail</label>
            <input type="email" name="email" class="form-control"/>
        </div>
        <div>
            <label>Password</label>
            <input type="password" name="password" class="form-control"/>
        </div>
        <button class="btn btn-primary">Entrar</button>
    </form>
</body>
</html>