@using Microsoft.AspNetCore.Http
@using System.Text.Json;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<head>
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body class="container">
    Bem vindo!<br/>
    @{
        string? session = HttpContextAccessor.HttpContext.Session.GetString("user");
        User? user = JsonSerializer.Deserialize<User>(session);
    }
    <h1>@user.Name</h1>

    <a href="/user/logout" class="btn btn-danger">Sair</a>
</body>
</html>